<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Title  -->
     <title>Download Mobile App</title>
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="keywords" content="Cheap Data MTN GLO Airtel" />
       <meta name="description" content="Jero Pay is an Easy to use mobile app, make it to pay for bills cheaply" />
       <meta name="author" content="" />
     <!-- Favicon -->
     <link rel="shortcut icon" href="/static/img/logo-1.png" />
 
     <!-- Google Fonts -->
     <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">
 
     <!-- Plugins -->
     <!-- <link rel="stylesheet" href="./plugins.css" /> -->
     <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
     <!-- Core Style Css -->
     <link rel="stylesheet" href="/static/css/base.css">
 
     <!-- font awesome -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-12/css/all.min.css" integrity="sha512-pn4RwKFKdSvaTRSYO5WIUGz89e1tJvWWUGRIBym1/k467SuMMjKKw/X5TXJYp2+WLmHumHivCJ2JAJppXF9SoA==" crossorigin="anonymous" referrerpolicy="no-referrer"
     />
 
     <style>
         .type>img {
             width: 50%;
             margin: 5% auto;
         }
         
         .price .features li {
             font-size: 17px;
             color: #777;
             margin-bottom: 12px;
         }
     </style>
</head>

<ul class="navbar1" id="navbar1">

    <li class="nav-brand" id="nav-Brand">
      <img src="/static/img/logo-1.png" alt="logo" style="width: 80px">
    </li>

    <li class="nav-menu" data-scroll-nav="0"><a href="#">Home</a></li>
    <li class="nav-menu"  href="#" data-scroll-nav="1"><a class="nav-link active" href="#">Services</a></li>
    <li class="nav-menu" href="#" data-scroll-nav="4"><a href="#">Price</a></li>
    <li class="nav-menu" href="#" data-scroll-nav="6"><a href="#">Contact</a></li>
    <li class="nav-menu" href="#" data-scroll-nav="2"><a href="#">testimony</a></li>


    <!-- Mobile Navigation button ---->
    <span class="menu-btn" onclick="openNav()">&#9776;</span>


    <!-- Mobile navigation bar container --->
    <div class="mobileNav" id="mobilenav">
      <div class="mobileNav-links">
       <a class="closeBtn" onclick="closeNav()">&#10006;</a>
    <a href="#" data-scroll-nav="0">Home</a>
    <a href="#" data-scroll-nav="1">Services</a>
   <a href="#" data-scroll-nav="4">Price</a>
    <a href="#" data-scroll-nav="6">Contact</a>
    <a href="#" data-scroll-nav="2">testimony</a>

    </div>

  </div>
     <!-- End of Mobile navigation bar container --->


  </ul>

  <!---======= End of Navigation Bar ========---->








   <!-- =====================================
        ==== Start Hero -->
<center>
        <section class="hero" data-scroll-index="1" data-aos="fade-up">
            <div class="section-padding pos-re">
                <div class="container">
                    <div class="row">
                        <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10 text-center mb-80">
                            <h4 class="extra-title">Download Jero Pay's <span>Android</span> App</h4>
                            <span>We are working on our apps being available on the PlayStore (Android) and App Store (iOS)</span>
                            <span>But you can still enjoy all the benefits of the App when you download below.</span>
                        </div>
                        <div class="feat-item mb-md50 col-lg-12">
                            <table class="table" data-aos="zoom-in">
                                <!-- table heading -->
                                <tr>
                                    <th>
                                        Upload date
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>Action</th>
                                </tr>
    
                                <!-- table content -->
                                <!-- {% for obj in object_list %} -->
                                <tr>
                                    <td>
                                        <!-- {{ obj.upload_date }} -->
                                    </td>
                                    <td>
                                        Micro E-pay
                                    </td>
                                    <td>
    
                                        <a href="{{obj.file.url}}" class="btn btn-success">
                                            Download
                                        </a>
                                    </td>
                                </tr>
                                <!-- {% endfor %} -->
                            </table>
                            <hr>
                        </div>
                    </div>
                </div>
    
                <!-- <div class="curve curve-gray-b curve-bottom"></div> -->
            </div>
    
        </section>
    </center>
        <!-- End Hero ====
            ======================================= -->
    
    

        <!--========Footer Section========--->
    
<section class="footer">
    <div class="curve curve-top"></div>
    <div class="footer-content">
      <div class="curve curve-top"></div>
      <a class="logo" href="#">
        <img src="/static/img/logo-1.png" alt="logo">
    </a>
  
      <p>© 2023 Jero Pay
  All Rights Reserved</p>
    </div>
  
     <div class="footer-content">
      <h3>Get in touch</h3>
      <p>uyo, Akwa Ibom State, Nigeria.</p>
      <p>jeropay@gmail.com<br>
        +234 704 319 4111</p>
    </div>
  
     <div class="footer-content">
      <h3>Learn More</h3>
      <p>About Us</p>
       <p>Features</p>
        <p>FAQ</p>
         <p>Pricing Policy</p>
          <p>Terms of Use</p>
    </div>
  
  <div class="footer-content">
    <div class="social">
      <a href="#0"><i class="fab fa-facebook-f"></i></a>
      <a href="#0"><i class="fab fa-twitter"></i></a>
      <a href="#0"><i class="fab fa-linkedin-in"></i></a>
      <a href="#0"><i class="fab fa-behance"></i></a>
      <a href="#0"><i class="fab fa-pinterest-p"></i></a>
  </div>
  
  </div>
  
  
  </section>
  
        <!-- JAVA SCRIPT -->
  
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
  
  //scroll animation program
  AOS.init({
         duration: 2000,
         once: false,
        });
  
  
  
  //navbar program  
  
    function openNav(){
    document.getElementById("mobilenav").style.width="100%";
  }
  function closeNav(){
    document.getElementById("mobilenav").style.width="0%";
  }
  
    
  
  
  
  </script>
  
 
<body>
    
</body>
</html>